.recipes-map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 2;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65.11px);
}

.recipes-header {
  margin: 16px 0;
}

.recipes-body {
  flex-grow: 1;
  overflow: scroll;
  height: 100%;
}

@media (max-width: 800px) {
  .recipes-map {
    height: 440px;
  }
  .recipes-header {
    margin-bottom: 260px;
  }
}
