<div id="map" data-moselle="<%= asset_path('carte-moselle.png') %>" data-icon="<%= asset_path('faience.png') %>"></div>
<div class="container">
  <div class="recipes-header">
    <input class="searchbar-white">
    <div class="recipes-filters">
      <div class="button-translucid"></div>
    </div>
  </div>
  <div class="recipes-body">
    <div class="recipes-list">
      <div class="card-recipe"></div>
    </div>
  </div>
</div>
