<div class="home-background">
</div>
<div class="home-title">
  <h1><%= t('.title') %></h1>
  <p><%= t('.description') %></p>
  <div class="buttons">
    <%= link_to t('.share_recipe'), new_recipe_path, class: "button-white button-boxshadow" %>
    <%= link_to t('.find_recipe'), recipes_path, class: "button-white button-boxshadow" %>
  </div>
</div>
