<div class="home-background">
</div>
<div class="home-title">
  <h1>Recettes de Moselle-Est</h1>
  <p>Une belle initiative pour conserver les recettes de nos grand-mères et notre culture Est-mosellane.</p>
  <div class="buttons">
    <%= link_to "Partagez vos recettes", new_recipe_path, class: "button-white" %>
    <%= link_to "Decouvrez des recettes", recipes_path, class: "button-white" %>
  </div>
</div>
