<div class="home-background">
</div>
<div class="home-title">
  <h1>Recettes de Moselle-Est</h1>
  <p>Une belle initiative pour conserver les recettes de nos grand-mères et notre culture Est-mosellane.</p>
  <div class="buttons">
    <a href="#" class="button-white">Partagez vos recettes</a>
    <a href="#" class="button-white">Decouvrez des recettes</a>
  </div>
</div>
