.button-white {
  background-color: white;
  padding: 16px 24px;
  color: black;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.8);
  display: inline-block;
  text-decoration: none;
  margin-right: 24px;
  margin-bottom: 24px;
  text-align: center;
  width: 240px;
}

.button-white:hover {
  color: black;
  text-decoration: none;
  background-color: rgba(240,240,240,1);
  box-shadow: 0 8px 8px rgba(0,0,0,0.4);
}
